body {
    background-image: url(Background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.banner {
    width: 100%;
    height: 6.875em;
}

a {
    text-decoration: none;
}
.enlaces-nav {
    margin-top: 0;
    padding-top: 0;
    color: #fff;
    font-size: 2.5em;
}

.titulo-index {
    text-align: center;
    font-family: 'Acme', sans-serif;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: .1px rgba(114, 86, 86, 0.842);
    letter-spacing: 5px;
    background-color: rgba(247, 205, 227, 0.705);
    padding: 20px;
}

.section-index {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

   

/*Soraka Page*/
.header-soraka {
    background-color: rgb(255, 255, 255);
    padding: 10px;
      
}
.titulo-soraka {
    text-align: center;
    color: #fff;
    margin-top: 0;
    font-family: 'Dancing Script', cursive;
    -webkit-text-stroke: .2px rgba(252, 0, 126, 0.849);
}

.descripcion {
    text-align: center;
    color: #fff;

}