body {
    background-image: url(Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
}

.titulo-index {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: rgb(250, 210, 227);
}

/*Soraka Page*/
.header-soraka {
    background-color: rgba(255, 160, 219, 0.733);
    padding: 10px;
      
}
.titulo-soraka {
    text-align: center;
    color: #fff;
    margin-top: 0;
    font-family: 'Dancing Script', cursive;
    -webkit-text-stroke: .2px rgba(252, 0, 126, 0.849);
}

.descripcion {
    text-align: center;
    color: #fff;

}